@{
   
}

<form method="post" action="/Home/AddStudent">
    <table>
        <tr>
            <td><p>Name: </p></td>
            <td><input type="text" name="FullName"/> </td>
        </tr>
        <tr>
            <td><p>Birthdate :</p></td>
            <td><input type="date" name="Birthdate" /> </td>
        </tr>
        <tr>
            <td><p>Academic record :</p></td>
            <td><input type="text" name="AcademicPerfomance.AcademicRecord" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Ok" /> </td>
            <td></td>
        </tr>
    </table>
</form>
