@model Student


<form method="post" action="/Home/AddStudent">
    <div><p style="font-size:20px"><b>Add student</b></p><br /></div>
    @{
        await Html.RenderPartialAsync("StudentView", Model);
    }
</form>



