@model Student

@{
    int studentId = (int)ViewData["Student id"];
  

}

<form method="post" action="/Home/DeleteStudent">
    <input type="hidden" value="@studentId" name="id" />
    <input type="submit" value="Ok" />
</form>

    
