@model Student


<form method="post" action="/Home/EditStudent">
    @Html.HiddenFor(model => model.StudentId)
    <div><b>Edit student</b><br /><br /></div>
    @{
        await Html.RenderPartialAsync("StudentView", Model);
    }
</form>
