@model Student


<form method="post" action="/Home/EditStudent">
    @Html.HiddenFor(model => model.StudentId)
    <div><p style="font-size:20px"><b>Edit student</b></p><br /></div>
    @{
        await Html.RenderPartialAsync("StudentView", Model);
    }
</form>
